.b-mails
  font: 400 16px/16px "MyriadPro", sans-serif
  margin-top 23px
  &__item-wrapper
    display flex
    align-items center
    width: 100%
  &__item
    margin-bottom 24px
    &:last-child
      margin-bottom 26px
    &._unread
      font-weight 600
      .b-mails-bottom-block__date
        font-weight 400
      .b-mails-bottom-block__text
        color cText
    &._important
      color cTextImportant
      .b-mails-bottom-block__text, .b-mails-bottom-block__email, .b-mails-bottom-block__date
        color cTextImportant