.b-profile
  display flex
  margin-bottom 21px
  &__avatar-container
    height: 0
    overflow hidden
    padding-bottom 23%
    position relative
    width 23%
    min-width 23%
    border-radius 8px
  &__avatar
    position absolute
    top 0
    left 0
    width 100%
    height 100%
  &__data
    padding-left 18px
    width 77%
    box-sizing border-box

.b-profile-data
  &__name
    font: 400 15px/15px "MyriadPro", sans-serif
  &__item
    font: 400 13px/13px "MyriadPro", sans-serif
    color cTextLightGray
    position relative
    display flex
    align-items center
    &--status
      margin-top 10px
    &--disk
      margin-top 13px

.b-profile-data-item
  &__img-container
    width 16px
    min-width: 16px;
    height 15px
    position relative
  &__text
    margin-left 8px
  &__img
    width 100%
    height 100%
    position absolute
  &__range
    margin-left: 8px
    width: calc(100% - 8px)
    margin-top: 3px
  &__disk-container
    width 100%  
