.b-menu-mobile-list
  &__item    
    padding 9px 0
    display flex
    justify-content space-between
    font: 400 16px/16px "MyriadPro", sans-serif
    &--special
      padding 10px 0
    &--bottom
      padding 15px 0
    &:hover
      &__link
        color cTextBlue

@media screen and (min-width: dWidth)
  .b-menu-mobile-list
    &__item    
      &:hover
        &__link
          color cTextBlue