<% 

  var pointList = [
    {
      name:'Sent',
    },
    {
      name:'Custom folder name',
    },
    {
      name:'Personal',
    }
  ];
%>
<div class="b-action j-action-block">
    <div class="b-action__block-top action-block-top j-move-container">
      <%for(var item in pointList){%>
        <div class="action-block-top__item action-block-top-item"><%=pointList[item].name%></div>
      <%}%>
    </div>
    <div class="b-action__block-bottom b-action-block-bottom">
        <div class="b-action-block-bottom__wrapper">
          <div class="b-action-block-bottom__pic-container b-action-block-bottom__pic-container--delete">
            <img class="b-action-block-bottom__pic"  src="../img/delete.png" alt="Delete">
          </div>
          <div class="b-action-block-bottom__name">Delete</div>
        </div>
        <div class="b-action-block-bottom__wrapper j-move">
          <div class="b-action-block-bottom__pic-container">
            <img class="b-action-block-bottom__pic b-action-block-bottom__pic--move" alt="Move"  src="../img/move.png">
            <img class="b-action-block-bottom__pic b-action-block-bottom__pic--move-active" alt="Move"  src="../img/move-notactive.png">
          </div>
          <div class="b-action-block-bottom__name">Move to</div>
        </div>
        <div class="b-action-block-bottom__wrapper">
          <div class="b-action-block-bottom__pic-container b-action-block-bottom__pic-container--spam">
            <img class="b-action-block-bottom__pic b-action-block-bottom__pic--spam"  src="../img/spam.png">
          </div>
          <div class="b-action-block-bottom__name">SPAM</div>
        </div>
    </div>
</div>