<% 

  var pointList = [
    {
      name:'Sent',
    },
    {
      name:'Custom folder name',
    },
    {
      name:'Personal',
    }
  ];
%>
<div class="b-action j-action-block">
    <div class="b-action__point-list point-list j-move-container">
      <%for(var item in pointList){%>
        <div class="point-list__item"><%=pointList[item].name%></div>
      <%}%>
    </div>
    <div class="b-action__point-bottom point-bottom">
        <div class="point-bottom__wrapper">
          <div class="point-bottom__pic-container point-bottom__pic-container--delete">
            <img class="point-bottom__pic"  src="../img/delete.png">
          </div>
          <div class="point-bottom__name">Delete</div>
        </div>
        <div class="point-bottom__wrapper j-move">
          <div class="point-bottom__pic-container">
            <img class="point-bottom__pic point-bottom__pic--move"  src="../img/move.png">
            <img class="point-bottom__pic point-bottom__pic--move-active"  src="../img/move-notactive.png">
          </div>
          <div class="point-bottom__name">Move to</div>
        </div>
        <div class="point-bottom__wrapper">
          <div class="point-bottom__pic-container point-bottom__pic-container--spam">
            <img class="point-bottom__pic point-bottom__pic--spam"  src="../img/spam.png">
          </div>
          <div class="point-bottom__name">SPAM</div>
        </div>
    </div>
</div>