<% 

  var emails = [
    {
      name:'Morkovskiy',
      email:'er.morkovski@mail.ru',
      time:'20:32',
      thema:'Just bought!!!',
      text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaB',
      new:true,
      important: false,
      timeLeft: "2 hours",
      id:1
    },
    {
      name:'Alexander Druzfd',
      email:'sachas@mail.ru',
      time:'20:32',
      thema:'Hello my little friend!',
      text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaB',
      new:true,
      important: false,
      timeLeft: "3 days",
      id:2
    },
    {
      name:'Avtozapravka',
      email:'auto.zapravka@mail.ru',
      time:'20:32',
      thema:'Just bought!!!',
      text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaB',
      new:false,
      important: true,
      timeLeft: "10 month",
      id:3
    },
    {
      name:'Morkovskiy',
      email:'er.morkovsky@mail.ru',
      time:'20:32',
      thema:'Just bought!!!',
      text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaB',
      new:false,
      file: true,
      important: false,
      timeLeft: "3 years",
      id:4
    },
    {
      name:'Morkovskiy',
      email:'er.morkovsky@mail.ru',
      time:'20:32',
      thema:'Just bought!!!',
      text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaB',
      new:false,
      file: true,
      important: false,
      timeLeft: "5 years",
      id:5
    },
    {
      name:'Xrigirii',
      email:'er.morkovsky@mail.ru',
      time:'20:32',
      thema:'Just bought!!!',
      text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaB',
      new:false,
      file: false,
      important: false,
      timeLeft: "20 years",
      id:6
    }
  ];
%>

<div class="b-mails ">
  <%for(var item in emails){%>
    <div class="b-mails__item b-mails-item <%if(emails[item].new){%>_unread <%}%> <%if(emails[item].important){%>_important <%}%>">
      <div class="b-mails-item__top-block b-mails-top-block">
        <div class="checkbox b-mails-top-block__checkbox b-mails-top-block__checkbox ">
          <input class="checkbox__item j-checkbox" type="checkbox"  id="Checkbox<%=emails[item].id%>" />
          <label for="Checkbox<%=emails[item].id%>"></label>
        </div>

        <div class="b-mails-top-block__data-container b-mails-top-data">
          <div class="b-mails-top-data__name-email b-mails-top-name-email">
              <div class="b-mails-top-name-email__name"><%=emails[item].name%></div>
              <div class="b-mails-top-name-email__email"><%=emails[item].email%></div>
          </div>
          <div class="b-mails-top-data__time"><%=emails[item].time%></div>
        </div>

      </div>
      <div class="b-mails-item__center-block b-mails-center-block">
        <div class="b-mails-center-block__thema"><%=emails[item].thema%></div>
        <%if(emails[item].file){%>
          <div class="b-mails-center-block__file"></div>
        <%}%>
      </div>
      <div class="b-mails-item__bottom-block b-mails-bottom-block">
        <div class="b-mails-bottom-block__text"><%=emails[item].text%></div>
        <div class="b-mails-bottom-block__date"><%=emails[item].timeLeft%> left</div>
      </div>
    </div>
  <%}%>
 

</div>