<div class="b-instr">
  <div class="b-instr__title-block instr-title-block">
    <div class="checkbox instr-title-block__checkbox">
      <input class="checkbox__item j-checkbox-main" type="checkbox" name="mainCheckbox" id="mainCheckbox" />
      <label for="mainCheckbox"></label>
      <div class="instr-arrow instr-arrow--main b-instr__arrow"></div>
    </div>
    <div class="instr-title-block__option-container instr-title-block__option-container--actions j-action-button">
      <div class="instr-title-block__title">Actions</div>
      <div class="instr-arrow instr-title-block__arrow"></div>
    </div>
    <div class="instr-title-block__option-container instr-title-block__option-container--view j-view-but">
      <div class="instr-title-block__title">View</div>
      <div class="instr-arrow instr-title-block__arrow"></div>
    </div>
 </div>

  <div class="b-instr__view-block instr-view-block  j-view">
    <div class="instr-view-block__select-container">
      <div class="instr-view-block__select-title">On page:</div>
      <div class="select j-select instr-view-block__select">
        <div class="select__content j-select-content">
          <div class="select__title j-select-title">10</div>
          <div class="select__list j-select-list">
            <span class="select__item j-select-item">10</span>
            <span class="select__item j-select-item">20</span>
            <span class="select__item j-select-item">30</span>
          </div>
        </div>
      </div>
    </div>
    <div class="instr-view-block__select-container">
      <div class="instr-view-block__select-title">Sort by:</div>
      <div class="select j-select instr-view-block__select">
        <div class="select__content j-select-content">
          <div class="select__title j-select-title">send date</div>
          <div class="select__list j-select-list">
            <span class="select__item j-select-item">send date</span>
            <span class="select__item j-select-item">size</span>
            <span class="select__item j-select-item">important</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>