<div class="b-instr">
  <div class="b-instr__container">
    <div class="checkbox-container">
      <input class="checkbox j-checkbox-main" type="checkbox" name="mainCheckbox" id="mainCheckbox" />
      <label for="mainCheckbox"></label>
      <div class="b-instr__arrow b-instr__arrow--main"></div>
    </div>
    <div class="b-instr__option-container b-instr__option-container--actions j-action-button">
      <div class="b-instr__title">Actions</div>
      <div class="b-instr__arrow"></div>
    </div>
    <div class="b-instr__option-container b-instr__option-container--view j-view-but">
      <div class="b-instr__title">View</div>
      <div class="b-instr__arrow"></div>
    </div>
 </div>
  <div class="b-instr__view-hide j-view">
    <div class="b-instr__view-select-container">
      <div>On page</div>
      <div class="custom-select j-custom-select">
        <div class="custom-select__content j-select-content">
          <div class="custom-select__title j-select-title">10</div>
          <div class="custom-select__list j-select-list">
            <span class="custom-select__item j-select-item">10</span>
            <span class="custom-select__item j-select-item">20</span>
            <span class="custom-select__item j-select-item">30</span>
          </div>
        </div>
      </div>
    </div>
    <div class="b-instr__view-select-container">
      <div>Sort by</div>
      <div class="custom-select j-custom-select">
        <div class="custom-select__content j-select-content">
          <div class="custom-select__title j-select-title">send date</div>
          <div class="custom-select__list j-select-list">
            <span class="custom-select__item j-select-item">send date</span>
            <span class="custom-select__item j-select-item">size</span>
            <span class="custom-select__item j-select-item">important</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>