<% 
  var sizeDisk = '55%';
  var data = {
    name:"Super Duper Paul",
    avatar:"../../img/avatar.jpg",
    statusImg:"../../img/status.png",
    diskImg:"../../img/size.png",
    diskText:"Use 329 MB of 1 GB"
  }
%>
<div class="b-menu-mobile j-menu-mobile">
  <div class="b-menu-mobile__wrapper-points">
    <div class="b-menu-mobile__logo"></div>
    <div class="b-menu-mobile__button-container">
      <button class="button b-menu-mobile__button">Compose</button>
    </div>
    <div class="b-menu-mobile__list b-menu-mobile-list">
      <div class="b-menu-mobile-list__item b-menu-mobile-item">
        <div class="b-menu-mobile-item__left">
          <a  href="#" class="b-menu-mobile-item__link">Inbox</a>
          <a  href="#" class="b-menu-mobile-item__count">23235</a>
        </div>
        <div class="b-menu-mobile-item__right">321</div>
      </div>
      <div href="#" class="b-menu-mobile-list__item b-menu-mobile-item">
        <div class="b-menu-mobile-item__left">
          <a  href="#" class="b-menu-mobile-item__link">Sent</a>
          <a  href="#" class="b-menu-mobile-item__count">123</a>
        </div>
        <div class="b-menu-mobile-item__right b-menu-mobile-item__right--empty"></div>
      </div>
      <div class="b-menu-mobile-list__item b-menu-mobile-item">
        <div class="b-menu-mobile-item__left">
          <a  href="#" class="b-menu-mobile-item__link">Drafts</a>
          <a  href="#" class="b-menu-mobile-item__count">23</a>
        </div>
        <div class="b-menu-mobile-item__right">123</div>
      </div>
    </div>
    <div class="b-menu-mobile__list b-menu-mobile__list--planning">
      <div class="b-menu-mobile-list__item b-menu-mobile-item b-menu-mobile-list__item--special">
        <div class="b-menu-mobile-item__left">
          <a  href="#" class="b-menu-mobile-item__link">Personal Messages</a>
          <a  href="#" class="b-menu-mobile-item__count">7</a>
        </div>
        <div class="b-menu-mobile-item__right b-menu-mobile-item__right--empty"></div>
      </div>
      <div class="b-menu-mobile-list__item b-menu-mobile-item b-menu-mobile-list__item--special">
        <div class="b-menu-mobile-item__left">
          <a  href="#" class="b-menu-mobile-item__link">Work only</a>
          <a  href="#" class="b-menu-mobile-item__count">7</a>
        </div>
        <div class="b-menu-mobile-item__right b-menu-mobile-item__right--empty"></div>
      </div>
      <div class="b-menu-mobile-list__item b-menu-mobile-item b-menu-mobile-list__item--special">
        <div class="b-menu-mobile-item__left">
          <a  href="#" class="b-menu-mobile-item__but b-menu-mobile-item__but--add"></a>
          <a  href="#" class="b-menu-mobile-item__link">Add folder</a>
        </div>
      </div>
      <div class=" b-menu-mobile-list__item b-menu-mobile-item b-menu-mobile__points-add"></div>
    </div>
    <div class="b-menu-mobile__list b-menu-mobile-list">
      <div class="b-menu-mobile-list__item b-menu-mobile-item">
        <div class="b-menu-mobile-item__left">
          <div class="b-menu-mobile-item__but b-menu-mobile-item__but--contacts"></div>
          <a  href="#" class="b-menu-mobile-item__link">Contacts</a>
          <a  href="#" class="b-menu-mobile-item__count">23</a>
        </div>
      </div>  
    </div>
  </div>
  <div class="b-menu-mobile__wrapper-points">
    <div class="b-menu-mobile__img"></div>
    <div class="b-menu-mobile__list b-menu-mobile-list">
      <div class="b-menu-mobile-list__item b-menu-mobile-item b-menu-mobile-list__item--special">
        <div class="b-menu-mobile-item__left">
          <a  href="#" class="b-menu-mobile-item__link">Registration</a>
        </div>
      </div>
      <div class="b-menu-mobile-list__item b-menu-mobile-item b-menu-mobile-list__item b-menu-mobile-item b-menu-mobile-list__item--special">
        <div class="b-menu-mobile-item__left">
          <a  href="#" class="b-menu-mobile-item__link">Messages</a>
        </div>
      </div>
      <div class="b-menu-mobile-list__item b-menu-mobile-item b-menu-mobile-list__item--special">
        <div class="b-menu-mobile-item__left">
          <a  href="#" class="b-menu-mobile-item__link">User Management</a>
        </div>
      </div>
    </div>
  </div>

  <div class="b-menu-mobile__wrapper-points">
    <!-- Profile -->
    <div class="b-profile">
      <div class="b-profile__avatar-container">
        <img class="b-profile__avatar" src="<%=data.avatar%>">
      </div>
      <div class="b-profile__data b-profile-data">
        <div class="b-profile-data__name"><%=data.name%></div>
        <div class="b-profile-data__item  b-profile-data__item--status b-profile-data-item">
          <div class="b-profile-data-item__img-container">
            <img class="b-profile-data-item__img" src="<%=data.statusImg%>">
          </div>
          <div class="b-profile-data-item__text">Corporate user</div>
        </div>
        <div class="b-profile-data__item b-profile-data__item--disk b-profile-data-item">
          <div class="b-profile-data-item__img-container">
            <img class="b-profile-data-item__img" src="<%=data.diskImg%>">
          </div>
          <div class="b-profile-data-item__disk-container">
            <div class="b-profile-data-item__text"><%=data.diskText%></div>
            <div class="range b-profile-data-item__range">
              <div class="range__active" style="width:<%=sizeDisk%>"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Profile-end -->
    <div class="b-menu-mobile__list b-menu-mobile-list">
      <a href="#" class="b-menu-mobile-list__item b-menu-mobile-list__item--bottom b-menu-mobile-item">
        <div class="b-menu-mobile-item__left">
          <div class="b-menu-mobile-item__but b-menu-mobile-item__but--settings"></div>
          <div class="b-menu-mobile-item__link">Settings</div>
        </div>
      </a>  
      <a href="#" class="b-menu-mobile-list__item b-menu-mobile-list__item--bottom b-menu-mobile-item">
        <div class="b-menu-mobile-item__left">
          <div class="b-menu-mobile-item__but b-menu-mobile-item__but--logout"></div>
          <div class="b-menu-mobile-item__link">Logout</div>
        </div>
      </a>  
    </div>

    <div class="b-menu-mobile__footer b-menu-mobile-footer">
        <a class="b-menu-mobile-footer__link" href="#">Terms of use</a>
        <a class="b-menu-mobile-footer__link" href="#">Privacy policy</a>
        <a class="b-menu-mobile-footer__link" href="#">FAQ</a>
        <a class="b-menu-mobile-footer__link" href="#">Contact Support</a>
    </div>
  </div>
</div>