<% 
  var sizeDisk = '55%';
%>
<div class="b-menu-mobile j-menu-mobile">
  <div class="b-menu-mobile__wrapper-points">
    <div class="b-menu-mobile__compose-container">
      <button class="button b-menu-mobile__compose">Compose</button>
    </div>
    <div class="b-menu-mobile__points-container">
      <a href="#" class="b-menu-mobile__points">
        <div class="b-menu-mobile__points-left">
          <div class="b-menu-mobile__link">Inbox</div>
          <div class="b-menu-mobile__count">23235</div>
        </div>
        <div class="b-menu-mobile__points-right">321</div>
      </a>
      <a href="#" class="b-menu-mobile__points">
        <div class="b-menu-mobile__points-left">
          <div class="b-menu-mobile__link">Sent</div>
          <div class="b-menu-mobile__count">123</div>
        </div>
        <div class="b-menu-mobile__points-right b-menu-mobile__points-right--empty"></div>
      </a>
      <a href="#" class="b-menu-mobile__points">
        <div class="b-menu-mobile__points-left">
          <div class="b-menu-mobile__link">Drafts</div>
          <div class="b-menu-mobile__count">23</div>
        </div>
        <div class="b-menu-mobile__points-right">123</div>
      </a>
    </div>
    <div class="b-menu-mobile__points-container">
      <a href="#" class="b-menu-mobile__points">
        <div class="b-menu-mobile__points-left">
          <div class="b-menu-mobile__link">Personal Messages</div>
          <div class="b-menu-mobile__count">7</div>
        </div>
        <div class="b-menu-mobile__points-right b-menu-mobile__points-right--empty"></div>
      </a>
      <a href="#" class="b-menu-mobile__points">
        <div class="b-menu-mobile__points-left">
          <div class="b-menu-mobile__link">Work only</div>
          <div class="b-menu-mobile__count">7</div>
        </div>
        <div class="b-menu-mobile__points-right b-menu-mobile__points-right--empty"></div>
      </a>
      <a href="#" class="b-menu-mobile__points">
        <div class="b-menu-mobile__points-left">
          <div class="b-menu-mobile__but b-menu-mobile__but--add"></div>
          <div class="b-menu-mobile__link">Add folder</div>
        </div>
      </a>
      <div class="b-menu-mobile__points b-menu-mobile__points-add"></div>
    </div>
    <div class="b-menu-mobile__points-container">
      <a href="#" class="b-menu-mobile__points">
        <div class="b-menu-mobile__points-left">
          <div class="b-menu-mobile__but b-menu-mobile__but--contacts"></div>
          <div class="b-menu-mobile__link">Contacts</div>
          <div class="b-menu-mobile__count">23</div>
        </div>
      </a>  
    </div>
  </div>
  <div class="b-menu-mobile__wrapper-points">
    <div class="b-menu-mobile__img--key"></div>
    <div class="b-menu-mobile__points-container">
      <a href="#" class="b-menu-mobile__points">
        <div class="b-menu-mobile__points-left">
          <div class="b-menu-mobile__link">Registration</div>
        </div>
      </a>
      <a href="#" class="b-menu-mobile__points">
        <div class="b-menu-mobile__points-left">
          <div class="b-menu-mobile__link">Messages</div>
        </div>
      </a>
      <a href="#" class="b-menu-mobile__points">
        <div class="b-menu-mobile__points-left">
          <div class="b-menu-mobile__link">User Management</div>
        </div>
      </a>
    </div>
  </div>

  <div class="b-menu-mobile__wrapper-points">
    <!-- Profile -->
    <div class="b-profile">
      <div class="b-profile__avatar-container">
        <img class="b-profile__avatar" src="../../img/avatar.jpg">
      </div>
      <div class="b-profile__data">
        <div class="b-profile__name">Super Duper Paul</div>
        <div class="b-profile__status">
          <div class="b-profile__status-img-container">
            <img class="b-profile__status-img" src="../../img/status.png">
          </div>
          <div class="b-profile__text">Corporate user</div>
        </div>
        <div class="b-profile__disk">
          <div class="b-profile__img-container">
            <img class="b-profile__img" src="../../img/size.png">
          </div>
          <div>
            <div class="b-profile__text">Use 329 MB of 1 GB</div>
            <div class="b-profile__range">
              <div class="b-profile__range-active" style="width:<%=sizeDisk%>"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Profile-end -->
    <div class="b-menu-mobile__points-container">
      <a href="#" class="b-menu-mobile__points">
        <div class="b-menu-mobile__points-left">
          <div class="b-menu-mobile__but b-menu-mobile__but--settings"></div>
          <div class="b-menu-mobile__link">Settings</div>
        </div>
      </a>  
      <a href="#" class="b-menu-mobile__points">
        <div class="b-menu-mobile__points-left">
          <div class="b-menu-mobile__but b-menu-mobile__but--logout"></div>
          <div class="b-menu-mobile__link">Logout</div>
        </div>
      </a>  
    </div>

    <div class="b-menu-mobile__footer">
        <a class="b-menu-mobile__footer-link" href="#">Terms of use</a>
        <a class="b-menu-mobile__footer-link" href="#">Privacy policy</a>
        <a class="b-menu-mobile__footer-link" href="#">FAQ</a>
        <a class="b-menu-mobile__footer-link" href="#">Contact Support</a>
    </div>
  </div>


</div>