.action-block-top
  &__item
    width 100%
    font: 400 16px/16px "MyriadPro", sans-serif
    padding-bottom 28px
    transition color .3s ease
    &:last-child
      padding-bottom 0
    &:hover
      color cTextBlue
      transition color .2s ease