.instr-view-block
  &__select-container
    font: 400 11px/16px "MyriadPro", sans-serif
    display flex
    width 100%
    justify-content space-between
    margin-top 27px
    &:last-child
      margin-bottom 19px
      margin-top 22.5px
  &__select-title
    font: 400 16px/17px "MyriadPro", sans-serif
