.mail-info
  &__top-block
    display flex
  &__center-block
    margin-top 5px
    padding-left 29px
    display: flex;
    align-items: center;
  &__bottom-block
    padding-left 29px
    margin-top 4px