.mail-info-top
  &__name-email-container
    display flex
    width calc(100% - 39px)
  &__name
    margin-right 4px
    overflow: hidden
    width 41%
    text-overflow: ellipsis
    white-space: nowrap
  &__email
    color cTextLightGray
    overflow: hidden
    width: 53%
    height 16px
    text-overflow: ellipsis
    white-space: nowrap
    margin-right 6px
