.b-mails-bottom-block
  &__date
    width 100%
    margin-top 3px
    color cTextLightGray
  &__text
    font-weight 400
    display inline-block
    text-overflow: ellipsis
    white-space: nowrap
    overflow hidden
    color cTextLightGray
    max-width 100%
