.b-mails-center-block
  &__thema
    display inline-block
    max-width 80%
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
    margin-right 5px
  &__file
    display inline-block
    background url('../img/file.png') no-repeat
    min-width 11px
    height 12px
    background-size cover