.b-mails-top-block
  &__data-container
    display flex
    padding-left: 12px;
    width 100%
    box-sizing: border-box;

.b-mails-top-data
  &__container
    display flex
  &__name-email
    display flex
    width calc(100% - 40px)
  &__time
    width 100%
    min-width 40px
    text-align: end
  &__thema  
    display none
  &__life-time
    display none
.b-mails-top-name-email
  &__name
    margin-right 5px
    overflow: hidden
    width 40%
    text-overflow: ellipsis
    white-space: nowrap
  &__email
    color cTextLightGray
    overflow: hidden
    width: 55%
    height 16px
    text-overflow: ellipsis
    white-space: nowrap
    margin-right 6px

@media screen and (min-width: dWidth)
  .b-mails-top-data
    display grid
    grid-template-columns: 44.5% 39% 6% auto
    &__thema  
      display block 
      text-overflow: ellipsis
      white-space: nowrap
      overflow: hidden
      width: 91%
    &__life-time
      display block
      text-align right
      text-overflow: ellipsis
      white-space: nowrap
      overflow: hidden

  .b-mails-top-name-email
    &__name
      width 36%