.error-task
  &__resume
    display flex
    flex-wrap wrap
  &__top-title
    position absolute
    top 19px
    right 19px
    font: 400 13px/13px "MyriadPro", sans-serif
    color cTextLightGray
    letter-spacing: 0.5px;
    position absolute
  &__info-data
    display flex
    align-items: center;
    flex-wrap wrap

.b-error-title
  font: 600 16px/16px "MyriadPro", sans-serif
  margin-bottom 3px
  display inline-block
  &--img
    margin-right 0px

.error-info
  &__message-container
    width 100%
    display flex
    margin-bottom: 2px;
  &__message
    position relative
    font: 400 13px/13px "MyriadPro", sans-serif
    color cTextLightGray
    position relative
    margin-left 3px
  &__content
    margin-top 5px

.error-action
  width 100%
  margin-top: 9px;
  &__action-text
    display inline
    padding 2px 4px
    font-size: 12px;
    border-radius 2px
    color cTextWhite
    background cFonAction

.error-img
  min-width 13px
  height 12px
  background-size cover
  display: inline-block
  &--fail
    background-image: url('../img/fail.png')
    margin-left: 6px
  &--error
    min-width 12px
    width 12px
    height 12px
    background-image: url('../img/error.png')
  &--error-big
    min-width 12px
    width 16px
    height 16px
    margin-left 8px
    background-image: url('../img/error.png')
  &--success
    min-width: 10px;
    height: 10px;
    margin-left 13px
    background-image: url('../img/success.png')

.error-resume
  margin-top 16px
  &__title-container
    display flex