.b-task
  background-color cFonTasks
  margin-bottom: 29px
  &__info-container
    padding 11px 12px 0 10px
    display flex
    justify-content: space-between
    margin-bottom 5px
    &._open
      .b-task-info__img
        transform rotate(0deg)
  &__items-container
    max-height: 0
    transition max-height .4s ease
    overflow: hidden
    position relative
    &._open
      max-height: 600px
      overflow auto
  &__items-container-title
    font: 400 13px/13px "MyriadPro", sans-serif
    color cTextLightGray
    position absolute
    top 19px
    right 20px
    letter-spacing: 0.5px;
  &__error-title-container
    width 100%
    display flex
  &__error-title
    position relative
    font: 400 11px/12px "MyriadPro", sans-serif
    color cTextLightGray
    position relative
    margin-bottom 5px
    margin-left 5px

.b-task-info
  &__wrapper
    display flex
  &__img
    transition transform .3s ease
    background-image: url('../img/task.png')
    width: 13px;
    min-width 13px
    height: 13px;
    background-size cover
    transform rotate(180deg)
  &__doc-img
    background-image: url('../img/doc.png')
    width 18px
    min-width: 18px;
    height 16px
    margin-right 9px
    background-size cover
  &__doc
    font: 400 14px/14px "MyriadPro", sans-serif
    color cText
  &__range
    width 100%

.b-task-items
  &__item
    padding 11px 19px 8px 19px
    &:first-child
      margin-top 10px
  &__error-container
    font: 400 13px/13px "MyriadPro", sans-serif
    background  cFonTasks
    padding: 29px 19px 24px 19px
    border-top 1px solid cLightBorder
    margin-top: 11px
    position relative

.b-task-item
  &__title
    font: 600 15px/15px "MyriadPro", sans-serif
    margin-bottom 6px
    &--important
      font-weight 600
  &__text
    font: 400 13px/13px "MyriadPro", sans-serif
    margin-bottom 8px
  &__subtext
    font: 400 12px/15px "MyriadPro", sans-serif
    color cTextLightGray
    margin-bottom 7px
    margin-top -1px
  &__range
    width 100%
