.b-mails{
  font: 400 32px/26px "MyriadPro", sans-serif
  margin-top 47px
  &__data-container{
    width: 100%;
    padding-left 26px
    width: calc(100% - 26px);
  }
  &__item-wrapper{
    display flex
    align-items center
    width: calc(100% - 32px);
  }
  &__item{
    margin-bottom 56px
    &:last-child{
      margin-bottom 59px
    }
    &._unread{
      font-weight 600
      .mail-data__text{
        color cText
      }
    }
    &._important{
      color cTextImportant
      .mail-data__text, .mail-data__email, .mail-data__data{
        color cTextImportant
      }
    }
  }
}
.mail-data{
  &__top-block{
    display flex
  }
  &__center-block{
    margin-top 10px
    padding-left 58px
    display: flex;
    align-items: center;
  }
  &__bottom-block{
    padding-left 58px
    margin-top 16px
  }
  &__name-email-container{
    display flex
    width calc(100% - 77px)
  }
  &__name{
    margin-right 11px
    overflow: hidden
    width 40%
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__email, &__data{
    color cTextLightGray
    overflow: hidden
    width: 53%
    height 25px
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right 13px
  }
  &__data{
    width 100%
    margin-top 11px
  }
  &__thema{
    display inline-block
    max-width 80%
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
    margin-right 11px
  }
  &__file{
    display inline-block
    background-image: url('../img/file.png');
    width 16px
    height 18px
    background-size cover
  }
  &__text{
    font-weight 400
    display inline-block
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow hidden
    color cTextLightGray
    max-width 100%
  }
}
