html, body
    height: 100%
    word-break: break-word
    color cText

html
    --scroll-width: 15px
    background: cWhite

body
    min-width: 320px
    word-wrap: break-word
    overflow-y: scroll