.b-main
  margin-top 67px
  height 100%
  width 100%
  padding 0 25px
  box-sizing border-box
  &:before
    transition opacity .3s ease
    content ""
    opacity 0
    z-index zPopup
  &._popup
    &:before
      transition opacity .3s ease
      content ""
      position fixed
      top 0
      left 0
      width 100%
      height 100%
      background cBlack
      opacity .15
      z-index zPopup
  &__container
    padding-top 32px
    border-top 1px solid cLightBorder
  &__title
    letter-spacing: 3.6px
    font: 400 23px/23px "MyriadPro", sans-serif
  &__search-container
    width 100%
    min-height 35px
    position relative
    display flex
    align-items center
  &__search
    border 0px solid cLightBorder
    position absolute
    top 0
    border-radius 8px
    height 35px
    width 0
    right 50px
    box-sizing border-box
    font: 400 32px/32px "MyriadPro", sans-serif
    transition width .3s ease, padding-left .3s ease, border .3s ease
    &._open
      border 1px solid cLightBorder
      width calc(100% - 50px)
      padding-left 10px
  &__but-container
    position  absolute
    top 0
    width 40px
    height 35px
    right 0
    background-color transparent
    padding 9px 12px
    border-radius 8px
    box-sizing border-box
    display flex
    transition background-color .3s ease
    &._active
      background-color cButBg
      .b-main__search-img
        &:before
          opacity 0
        &:after
          opacity 1
  &__search-img
    height 16px
    width 16px
    position relative
    padding 9px 12px 9px 12px
    box-sizing border-box
    &:before
      content:''
      position absolute
      top 0
      width 100%
      height 100%
      background: url('../img/search.png') no-repeat    
      background-size contain
      opacity 1
      left 0
      transition opacity .3s ease
    &:after
      content:''
      position absolute
      top 0
      width 100%
      transition opacity .3s ease
      height 100%
      background: url('../img/search-active.png') no-repeat    
      background-size contain
      left 0
      opacity 0

