.pages
  display flex
  width 100%
  justify-content: space-between
  margin-bottom 30px
  &__left
    display flex
  &__right
    display flex
  &__left-multy,&__left-once,&__right-once,&__right-multy
    transition opacity .3s ease
    cursor pointer
    opacity .8
    &:hover
      transition opacity .2s ease
      opacity 1
    &._disable
      pointer-events none
      opacity .2
  &__left-once
    background: url('../img/page1-active.png');
    background-size cover
    width 9px
    height 16px
    transform  scale(-1, 1)
    margin-left 38px
  &__left-multy
    background: url('../img/page2-active.png')
    background-size cover
    width 19px
    height 16px
    transform  scale(-1, 1)
  &__right-once
    background: url('../img/page1-active.png')
    background-size cover
    width 9px
    height 16px
    margin-right 38px
  &__right-multy
    background: url('../img/page2-active.png')
    background-size cover
    width 19px
    height 16px
  &__count
    font: 400 15px/15px "MyriadPro", sans-serif
    color cTextGray
