cBlack = #000000
cWhite = #ffffff

cWhiteFon = #ffffff
cFonOpacity = #80808014
cFonGray = #f9f9f9
cFonTasks = #f5f5f5
cFonAction = #acacac

cText = #333333
cTextBlue = #4ca8e9
cTextWhite = #ffffff
cTextLightGray = #999999
cTextGray = #666666
cTextImportant = #e75555

cRaitingLine = #e6e6e6

cBlueLight = #9cafbd
cLight = #dddddd

cLightBorder = #cccccc

cButBg = #4ca8e9
cButText = #ffffff


zPopup =  5
zHeader =  4
zActionMenu = 8
zActionMove = 6
