cBlack = #000000
cWhite = #ffffff

cText = #333333
cTextBlue = #4ca8e9
cTextWhite = #ffffff
cTextLightGray = #999999

cRaitingLine = #e6e6e6

cBlueLight = #9cafbd
cLight = #dddddd

cLightBorder = #cccccc

cButBg = #4ca8e9
cButText = #ffffff