cBlack = #000000
cWhite = #ffffff

cWhiteFon = #ffffff
cFonOpacity = #80808014
cFonGray = #f9f9f9
cFonTasks = #f5f5f5
cFonAction = #acacac

cBoxShadow = #000000

cText = #333333
cTextBlue = #4ca8e9
cTextWhite = #ffffff
cTextLightGray = #999999
cTextGray = #666666
cTextImportant = #e75555
cTextYellow = #ffc75b

cRaitingLine = #e6e6e6

cBlueLight = #9cafbd
cLight = #dddddd

cLightBorder = #cccccc

cButBg = #4ca8e9
cButText = #ffffff


// z-indexes

zAction = 20
zPopup =  10
zHeader =  4
zMenu = 4
zOpenClose = 5
zMenuTablet = 5

zCustomSelect = 5
zCustomCheckbox = -1

// sizes
mWidth = 320
tWidth = 768px
dWidth = 1366px
wWidth = 1920px