 .range
    background-color cRaitingLine
    width 100%
    height 3px
    appearance auto
    position relative
    outline: none
    width: 100%
    &__active
      background-color cButBg
      position: absolute
      top: 0
      left: 0
      height: 100%

@media screen and (min-width: tWidth)
  .range
    height 4px
