.select
  &__content
    position relative
    padding: 1px 5px 2px 5px
    transition background-color .3s ease
  &__list
    margin: 15px 0;
    border-radius: 0px 0px 6px 6px
    background cFonGray
    width auto
    position absolute
    right 0
    display: flex
    z-index zCustomSelect
    flex-direction: column
    max-width 400px
    box-sizing border-box
    max-height 0
    transition max-height .2s ease-in,border .2s ease
    overflow hidden
    box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.1)
    font-size: 16px
    top: 10px
    &.opened
      transition max-height .3s ease-in,border .3s ease
      max-height 230px
  &__title
    border none
    position relative
    padding-right 13px
    font: 400 16px/16px "MyriadPro", sans-serif
    &._open
      &:before
        opacity: 0
      &:after
        opacity: 1
    &:before
      content ''
      position absolute
      display block
      opacity 1
      width 10px
      height 7px
      background-image: url('../img/arrow.png')
      background-repeat no-repeat
      background-size cover
      top calc(50% - 4px)
      right 0
    &:after
      opacity 0
      content ''
      position absolute
      display block
      width 10px
      height 7px
      background-image: url('../img/arrow-active.png')
      background-size cover
      top calc(50% - 4px)
      right 22px
  &__item,&__title
    cursor pointer
    box-sizing border-box
    max-width 353px
    color cTextLightGray
  &__item
    height 0px
    text-align: end
    min-height 24px    
    word-break: normal
    align-items center
    justify-content flex-end
    display flex
    padding 7px 18px 7px 5px
    transition background .3s ease ,color  .3s ease
    &:first-child
      margin-top 10px
    &.active
      color black

@media screen and (min-width: tWidth) 
  .select
    &__list
      margin 0
      position relative
      width 100%
      background cWhiteFon
      box-shadow none
      opacity 0
      border-radius 0
      margin-right: 5px;
      border: 0px solid cLightBorder
      transition max-height .3s ease-in, border .4s ease,opacity .3s ease, margin .2s ease .1s
      &.opened
        opacity 1
        margin-bottom 15px
        border: 1px solid cLightBorder
        transition max-height .4s ease-in,border .3s ease,opacity .3s ease, margin .3s ease .1s
    &__title
      padding-right: 19px
    &__item
      height auto
      padding 12px 10px 12px 24px
      justify-content flex-start
      &:first-child
        margin-top 12px
      &:last-child
        margin-bottom 11px
@media screen and (min-width: dWidth) 
  .select
    &__content
      &:hover
        background-color cFonOpacity
        border-radius 5px
    &__item
      &:hover
        color black
        background cFonOpacity